#window
{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(173,216,230,0.99);
    border-radius: 25px;
    font-size: 15px;
    }

#outer-box
{
    background-color: rgba(0,0,0,0.1);
    border: 3px solid rgba(173,216,230,0.9);
    border-radius: 25px;
}

#input
{
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: rgba(173,216,230,0.99);
}

#entry:selected
{
    background-color: rgba(173,216,230,0.9);
    border-radius: 20px;
    outline: none
}

#text:selected
{
    color: rgba(0,0,0,0.99);
    border: none;
}

#img
{
    border-radius: 16px;
    margin: 7px;
}
